# This is Git's per-user configuration file.
[user]
	email = 18646892+andrsphil@users.noreply.github.com
	name = Andreas Philippi
[core]
	excludesfile = /Users/andreas/.gitignore_global
[alias]
	remote-branch-status = !git-remote-branch-status
