"*":
  core:
    telemetryConsent: "limited"
  editor:
    fontSize: 13
    preferredLineLength: 100
    scrollPastEnd: true
    softWrap: true
    softWrapAtPreferredLineLength: true
  "exception-reporting":
    userId: "180202cf-27ed-3495-4902-e704f8714f71"
  "markdown-preview": {}
  "one-dark-ui": {}
  pigments:
    dismissableReloadNotifications: false
    markerType: "gutter"
  "project-manager":
    sortBy: "title"
  "status-bar": {}
  "tree-view":
    squashDirectoryNames: true
  "webbox-color":
    fillColorAsBackground: false
  welcome:
    showOnStartup: false
  wordcount:
    hidechars: true
