[
  {
    title: "Studium"
    paths: [
      "/Users/andreas/Dropbox/Studium"
    ]
  }
  {
    title: "Notizen"
    paths: [
      "/Users/andreas/Documents/Notizen"
    ]
  }
  {
    title: "Aemilia"
    group: "Projekte"
    paths: [
      "/Users/andreas/Projekte/Aemilia"
    ]
  }
  {
    title: "Website"
    group: "Projekte"
    paths: [
      "/Users/andreas/Projekte/Website"
    ]
  }
  {
    title: "Wrappl"
    group: "Projekte"
    paths: [
      "/Users/andreas/Projekte/Wrappl"
    ]
  }
  {
    title: "Dotfiles"
    group: "Projekte"
    paths: [
      "/Users/andreas/Documents/Dotfiles"
    ]
  }
  {
    title: "Tidely"
    group: "Projekte"
    paths: [
      "/Users/andreas/Projekte/Tidely"
    ]
  }
  {
    title: "Climate Quest"
    group: "Projekte"
    paths: [
      "/Users/andreas/Projekte/ClimateQuest"
    ]
  }
  {
    title: "Boilerplate"
    group: "Projekte"
    paths: [
      "/Users/andreas/Projekte/Boilerplate/webapp"
      "/Users/andreas/Projekte/Boilerplate/movilizer-webapp"
    ]
  }
]
