[
  {
    title: "Aemilia"
    group: "Projekte"
    paths: [
      "/Users/andreas/Documents/Projekte/Aemilia"
    ]
  }
  {
    title: "Make Project"
    group: "Projekte"
    paths: [
      "/Users/andreas/Documents/Projekte/Make-Project"
    ]
  }
  {
    title: "Studium"
    paths: [
      "/Users/andreas/Dropbox/Studium"
    ]
  }
  {
    title: "Website"
    group: "Projekte"
    paths: [
      "/Users/andreas/Documents/Projekte/Website"
    ]
  }
  {
    title: "Notizen"
    paths: [
      "/Users/andreas/Documents/Notizen"
    ]
  }
  {
    title: "Tidely"
    group: "Projekte"
    paths: [
      "/Users/andreas/Documents/Projekte/Tidely"
    ]
  }
  {
    title: "Wrappl"
    group: "Projekte"
    paths: [
      "/Users/andreas/Documents/Projekte/Wrappl"
    ]
  }
  {
    title: "Dotfiles"
    group: "Projekte"
    paths: [
      "/Users/andreas/Documents/Dotfiles"
    ]
  }
  {
    title: "Tidely JS"
    group: "Projekte"
    paths: [
      "/Users/andreas/Documents/Projekte/Tidely-JS"
    ]
  }
  {
    title: "Climate Quest"
    group: "Projekte"
    paths: [
      "/Users/andreas/Documents/Projekte/ClimateQuest"
    ]
  }
  {
    title: "Movilizer Variable Test"
    group: "Arbeit"
    paths: [
      "/Users/andreas/Downloads/MovilizerVariableTest"
    ]
  }
]
