# Your snippets
#
# Atom snippets allow you to enter a simple prefix in the editor and hit tab to
# expand the prefix into a larger code block with templated values.
#
# You can create a new snippet in this file by typing "snip" and then hitting
# tab.
#
# An example CoffeeScript snippet to expand log to console.log:
#
# '.source.coffee':
#   'Console log':
#     'prefix': 'log'
#     'body': 'console.log $1'
#
# Each scope (e.g. '.source.coffee' above) can only be declared once.
#
# This file uses CoffeeScript Object Notation (CSON).
# If you are unfamiliar with CSON, you can read more about it in the
# Atom Flight Manual:
# http://flight-manual.atom.io/using-atom/sections/basic-customization/#_cson

'.text.html.basic':
  'X-Template':
    'prefix': 'xtemplate'
    'body': '<script type="text/x-template" id="$1">\n  $2\n</script>'

'.source.js':
  'Initialize Namespace':
    'prefix': 'init-namespace'
    'body': '$1 = $1 || {}$2'
  'Closure':
    'prefix': 'closure'
    'body': '(function($1)\n{\n  $2\n})(window)'

'.source.shell':
  'Section':
    'prefix': 'sec'
    'body': '# -----------------------------------------------------------------------------\n# $1\n# -----------------------------------------------------------------------------\n\n$2'

'.source.ruby':
  'Section':
    'prefix': 'sec'
    'body': '# -----------------------------------------------------------------------------\n# $1\n# -----------------------------------------------------------------------------\n\n$2'

'.source.less':
  'Section':
    'prefix': 'sec'
    'body': '// -----------------------------------------------------------------------------\n// $1\n// -----------------------------------------------------------------------------\n\n$2'

'.source.scss':
  'Section':
    'prefix': 'sec'
    'body': '// -----------------------------------------------------------------------------\n// $1\n// -----------------------------------------------------------------------------\n\n$2'
